@import '../../../../assets/styles/variables';

.example-spacer {
  flex: 1 1 auto;
}

.mat-badge-content {
  background-color: black !important;
}

nav {
  background: $light;
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

nav .toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}

nav .reccos-nav-link {
  position: relative;
}

nav .reccos-nav-link .icon {
  font-size: 18px;
  color: $dark;
}

nav .reccos-nav-link .badge {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $light;
  background: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light;
  font-size: 10px;
  font-weight: 700;
}

nav .divider {
  width: 1px;
  background: $grey;
  height: 12px;
  display: block;
}

nav .profile {
  position: relative;
}

nav .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

nav .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: $light;
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

nav .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}

nav .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: $dark;
  align-items: center;
  transition: all .3s ease;
}

nav .profile .profile-link a:hover {
  background: $grey;
}

// profile
.main__top .main__top__menu .main__dropdown .profile__top {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}

.profile__top img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile__top .name p {
  font-size: .875rem;
  color: var(--grey);
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  min-width: 250px !important;
}