.mat-drawer-width {
    width: 300px;
}

.bg-navbar {
    background-color: #a45cff;
}

.mat-drawer-content-heigth {
    height: 100vh;
}

.toolbar-container {
    display: flex;
    flex-wrap: wrap;
}