.profile-photo {
    position: relative;
    width: 100px;
    height: 80px;
    background-color: #E6E6E6;
    border-radius: 50%;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.reccos-bg-white {
    background-color: #FFF;
}

.infos-stadium {
  span {
    font-size: 12px;
  }
}