<div class="container">
    <div class="row py-3 ps-3 justify-content-end my-3">
      <div class="col text-end">
        <button class="text-uppercase width-responsive" mat-raised-button color="primary" routerLink="create">
          <mat-icon>add</mat-icon> Adicionar árbitro
        </button>
      </div>
    </div>
  
    <div class="row g-3 mt-3" *ngIf="refrees.length > 0; else noPlayer">
      <div class="col-md-12 col-lg-6 col-xl-3" *ngFor="let refree of refrees, let idx = index">
        <div class="d-flex align-items-center justify-content-between px-3 py-2 rounded-3 reccos-bg-white mat-elevation-z4"
          [ngClass]="['status-' + refree.cod_status]">
          <div class="d-flex flex-column align-items-center profile-photo"
            [style.background-image]=" 'url(' + baseUrl  + refree?.picture_profile +')'"></div>
          <div class="stadium-infos d-flex flex-column text-end mt-2" [ngClass]="['color-status-'+ refree.cod_status]">
            <div class="d-flex justify-content-end align-items-end mt-3">
              <button mat-icon-button color="warn" (click)="removeRefree(+refree.id)">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button mat-icon-button [routerLink]="['update', refree.id]" color="primary">
                <mat-icon>mode_edit</mat-icon>
              </button>
            </div>
            <small style="font-size: 12px;">{{ refree.name }}</small>
            <small>{{ refree.surname }}</small>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noPlayer>
      <div class="alert alert-warning mt-4" role="alert">
        <p class="m-0">O sistema ainda não possui árbitros cadastrados!!</p>
      </div>
    </ng-template>
  </div>