<div class="p-5 modal-teams">
    <h4 class="text-reccos-4"><strong>TIMES</strong></h4>
    <h6 class="text-reccos-4">Selecione os times que deseja adionar à liga!</h6>
    <div class="col-12">
        <mat-checkbox [checked]="allTeams" (change)="selectAll($event)" color="primary">
            <span class="text-reccos-1">SELECIONAR TODOS</span>
        </mat-checkbox>
    </div>

    <div class="grid grid-template-columns mt-3" *ngIf="teams">
        <div *ngFor="let t of teams, let idx = index" class="check-teams" [ngClass]="['selected_' + t.check]"
            (click)="teamSelected(idx, t.check, t.id)">
            <img [src]="baseUrl  + t?.picture_profile" class="profile-photo">
            <span class="text-center text-break d-flex justify-content-end align-items-center mt-2"
                style="font-size: 12px;">
                <strong>{{ t.surname }}</strong>
                <mat-icon *ngIf="t.check == '1'">check_circle</mat-icon>
            </span>
        </div>
    </div>
</div>