.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #39414d;
  color: #FFF;
}

.reccos-ft-13 {
  font-size: 13px;
}

.box-details {
  height: calc(100vh - 80px);

  .column-details {
    padding: 0 16px;
  }
}

.detail-table {
  overflow-y: scroll;
  height: calc(100vh - 200px);

  .detail-table-games {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.box-card-teams {
  position: relative;
  background-color: #292f39;
  height: calc(100vh - 80px);
  color: #FFF;

  .box-team {
    background-color: #39414d;
    width: 85%;
  }

  .bg-dark-t {
    background-color: #39414d;
  }

  div mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}