<div v class="container content">
    <div class="row my-4">
        <div class="col-xl-3 col-lg-4 d-md-8 d-sm-none d-md-none d-xxl-block d-xl-block card-box mat-elevation-z4" [ngClass]="['league-status-' + league?.id]">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb mx-auto"><img [src]="urlLogo" class="rounded-circle img-thumbnail"
                        alt="profile-image"></div>
                <div class="text-center">
                    <h4 [ngClass]="['league-title-' + league?.id]"> {{ league?.name }} </h4>
                    <p class="text-muted">@ale <span>| </span><span><strong> kokhym </strong></span></p>
                </div>
                <!-- <ul class="social-links list-inline text-center">
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                            href="" data-original-title="Facebook"><mat-icon>facebook</mat-icon></a></li>
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                            href="" data-original-title="Twitter"><mat-icon>save</mat-icon></a>
                    </li>
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                            href="" data-original-title="Skype"><mat-icon>face</mat-icon></a>
                    </li>
                </ul> -->
                <div class="row px-4 py-3">
                    <mat-list class="infos-league">
                        <mat-list-item>
                            <div class="d-flex w-100 justify-content-between">
                                <span> <strong>Sistema:</strong></span> <span>{{ league?.league_mode }}</span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="d-flex w-100 justify-content-between">
                                <span><strong>Modalidade:</strong></span> <span> {{ league?.league_system }} </span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="d-flex w-100 justify-content-between">
                                <span><strong>Início:</strong></span> <span> {{ league?.dt_start | date: 'dd/MM/yyyy' }}
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="d-flex w-100 justify-content-between">
                                <span><strong>Fim:</strong></span> <span> {{ league?.dt_end | date: 'dd/MM/yyyy' }}
                                </span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-4 col-sm-12 form">
           
        </div>
    </div>
</div>