@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h3,
.h4 {
  font-weight: 400;
  line-height: 1.5em;
}

p {
  font-size: 15px;
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #333;
  font-weight: 400;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}

// MENU INÃCIO

@media only screen and (min-width:992px) {
  #sidebar.active {
    left: -260px;
    height: 100% !important;
    position: absolute !important;
    overflow: visible !important;
    top: 0;
    z-index: 666;
    float: left !important;
    bottom: 0 !important;
  }

  #content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
  }

  #content.active {
    width: 100%;
  }

}


#sidebar::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: #eee;
  display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
  width: 5px;
  border-radius: 10px;
  background-color: #333;
  display: none;
}

#sidebar:hover::-webkit-scrollbar-thumbs {
  display: block;
}

#sidebar:hover::-webkit-scrollbar {
  display: block;
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

#sidebar::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: #eee;
  display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
  width: 5px;
  border-radius: 10px;
  background-color: #333;
  display: none;
}

#sidebar:hover::-webkit-scrollbar-thumbs {
  display: block;
}

#sidebar:hover::-webkit-scrollbar {
  display: block;
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.sidebar-header h3 {
  color: #333;
  font-size: 17px;
  margin: 0px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 600;
}

.sidebar-header img {
  width: 85px;
  margin-right: 10px;
}

#sidebar ul li {
  padding: 2px 0px;
}

#sidebar ul li.active>a {
  color: #4c7cf3;
  background-color: #DBE5FD;
}


#sidebar ul li.active>a i {
  color: #4c7cf3;
}



#sidebar ul li a:hover {
  color: #4c7cf3;
  background-color: #DBE5FD;
}


.dropdown-toggle::after {
  position: absolute;
  right: 22px;
  top: 18px;
  color: #777777;
}

#sidebar ul li.dropdown {
  position: sticky;
}


#sidebar ul.component {
  padding: 20px 0px;
}

#sidebar ul li a {
  padding: 5px 10px 5px 20px;
  line-height: 30px;
  font-size: 15px;
  position: relative;
  font-weight: 400;
  display: block;
  color: #777777;
  text-transform: capitalize;
}

#sidebar ul li a i {
  position: relative;
  margin-right: 10px;
  top: 6px;
}