.mat-drawer-width {
  width: 350px;
}

.mat-drawer-content-heigth {
  height: calc(100vh - 64px);
}

// MENU
.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.accordion li {
  list-style: none;
}

// modelo 01
$midnight: #3F51B5;
$clouds: #ecf0f1;
// General

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// Layout
.row {
  display: flex;

  .col {
    flex: 1;

    &:last-child {
      margin-left: 1em;
    }
  }
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 99%;
  color: white;
  overflow: hidden;
  background: $midnight;

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;

    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;

    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  +.tab-label {
    background: darken($midnight, 10%);

    &::after {
      transform: rotate(90deg);
    }
  }

  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  .mat-drawer-width {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .mat-drawer-width {
    width: 75%;
  }
}

@media screen and (max-width: 350px) {
  .mat-drawer-width {
    width: 100%;
    background-color: orange;
  }
}

// input {
//   position: absolute;
//   opacity: 0;
//   z-index: -1;
// }
// .accordion {
//   margin: 10px;
//   border-radius: 5px;
//   overflow: hidden;
//   box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
//   &-label {
//     display: flex;
//     padding: 1em;
//     font-weight: bold;
//     cursor: pointer;
//     background: #333;
//     color: #fff;
//   }
//   &-content {
//     max-height: 0;
//     padding: 0 1em;
//     background: white;
//     transition: all 0.35s;
//   }
// }
// input:checked {
//   ~ .accordion-content {
//     max-height: 100vh;
//     padding: 1em;
//   }
// }


input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

h1 {
  margin: 10px;
}

.collapsible {
  &-accordion {
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  }

  &-item {
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      font-weight: bold;
      cursor: pointer;
      background: purple;
      color: #fff;

      &::after {
        content: "\2192";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }

    &-content {
      max-height: 0;
      padding: 0 1em;
      background: white;
      transition: all 0.35s;
    }
  }
}

input:checked {
  +.collapsible-item-label {
    &::after {
      transform: rotate(90deg);
    }
  }

  ~.collapsible-item-content {
    max-height: 50vh;
    padding: 1em;
  }
}