@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

.mat-drawer-width {
  width: 300px;
}

.bg-navbar {
  background-color: #a45cff;
}

.mat-drawer-content-heigth {
  height: calc(100vh - 64px);
}

// MENU INÃCIO

.bg-menu {
  background-color: #673ab7;
}

.sidebar-toggle {
  margin-left: -240px;
}

::-webkit-scrollbar {
  width: 5px;
}

// ::-webkit-scrollbar-track {
//   background: orange;
// }

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 1px solid #FFF;
}

.sub-menu {
  border-bottom: #673ab7 1px solid;
}

.sidebar {
  width: 100%;
  height: 100%;
  // background: #3F51B5;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
  cursor: pointer;
}

.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar #leftside-navigation ul li.active>a {
  color: #B968C7;
}

.sidebar #leftside-navigation ul li.active ul {
  display: block;
}

.sidebar #leftside-navigation ul li a {
  color: #999;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 14px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li a:hover {
  color: #9B27AF;
}

.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}

.sidebar #leftside-navigation ul li a i {
  width: 20px;
}

.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}

.sidebar #leftside-navigation ul ul {
  display: none;
}

.sidebar #leftside-navigation ul ul li {
  // background: #f3f2f2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}

.sidebar #leftside-navigation ul ul li a {
  font-size: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #673ab7;
}