<section id="sidebar">
  <a href="#" class="brand">reccos</a>
  <ul class="side-menu">
    <li><a [routerLink]="['/']" class="active"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
    <li class="divider" data-text="main">Cadastros</li>
    <li><a [routerLink]="['/user']"><mat-icon>account_box</mat-icon> Usuários</a></li>
    <li><a [routerLink]="['/federation']"><mat-icon>group_work</mat-icon> Federações</a></li>
    <!-- <li>
      <a href="#"><mat-icon>account_box</mat-icon> Cadastros <mat-icon
          class="icon-right">keyboard_arrow_down</mat-icon></a>
      <ul class="side-dropdown">
        <li><a [routerLink]="['/user']">Usuários</a></li>
        <li><a [routerLink]="['/federation']">Federação</a></li>
        <li><a [routerLink]="['/']">Ligas</a></li>
        <li><a [routerLink]="['/user']">Button</a></li>
      </ul>
    </li> -->
    <li><a href="#"><mat-icon>analytics</mat-icon> Charts</a></li>
    <li><a href="#"><mat-icon>widgets</mat-icon> Widgets</a></li>
    <li class="divider" data-text="table and forms">Table and forms</li>
    <li><a href="#"><mat-icon>table_chart</mat-icon> Tables</a></li>
    <li>
      <a href="#"><mat-icon>assignment</mat-icon> Forms <mat-icon
          class="icon-right">keyboard_arrow_down</mat-icon></a>
      <ul class="side-dropdown">
        <li><a href="#">Basic</a></li>
        <li><a href="#">Select</a></li>
        <li><a href="#">Checkbox</a></li>
        <li><a href="#">Radio</a></li>
      </ul>
    </li>
  </ul>
  <div class="ads">
    <div class="wrapper">
      <a href="#" class="btn-upgrade">Upgrade</a>
      <p>Become a <span>PRO</span> member and enjoy <span>All Features</span></p>
    </div>
  </div>
</section>