.profile-photo {
  width: 80px;
  height: 80px;
  background-color: #E6E6E6;
  border-radius: 50%;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::ng-deep .mat-mdc-table .mdc-data-table__row {
  height: 70px;
}

.card-box {
  padding: 20px 0;
  border-radius: 3px;
  background-color: #fff;
}

.infos-league {
  span {
    font-size: 14px;
  }
}

$statusColors: (
  "1": #fa841a,
  "2": #1DB954,
  "3": #f50808,
  "4": #3f51b5
);

@each $name,
$color in $statusColors {

  .status-#{$name} {
    position: relative;

    &:after {
      content: "";
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #{$color};
    }
  }

  .code-#{$name} {
    position: relative;
    padding: 0 0 0 20px;
    color: #{$color};
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #{$color};
      top: 5px;
      left: 0px;
    }
  }
}


.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.grid {
  display: grid;
  gap: 5px;
}

.grid-template-columns-4 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-template-columns {
  grid-template-columns: repeat(auto-fit, 100px);
}