<!-- <div  v class="container content">
  <div class="row my-4">
    <div class="col-lg-3" *ngFor="let league of leagues">
      <div class="card-box mat-elevation-z4">
        <div class="member-card pt-2 pb-2">
          <div class="row px-1">
            <div class="col-3 bg-danger">1</div>
            <div class="col-9 bg-success">2</div>
          </div>
          <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"
              class="rounded-circle img-thumbnail" alt="profile-image"></div>
          <div class="">
            <h4> {{ league.name }} </h4>
            <p class="text-muted">@ale <span>| </span><span><strong> kokhym </strong></span></p>
          </div>
          <ul class="social-links list-inline">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Facebook"><mat-icon>facebook</mat-icon></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Twitter"><mat-icon>save</mat-icon></a>
            </li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Skype"><mat-icon>face</mat-icon></a>
            </li>
          </ul>
          <div class="row px-4 py-3">
            <div class="d-flex aling-items-center justify-content-between">
              <p class="m-0 text-muted">Times</p>
              <small>12</small>
            </div>
            <div class="d-flex aling-items-center justify-content-between">
              <p class="m-0 text-muted">Sistema</p>
              <small> {{ league.league_system }} </small>
            </div>
            <div class="d-flex aling-items-center justify-content-between">
              <p class="m-0 text-muted">Modalidade</p>
              <small> {{ league.league_mode }} </small>
            </div>
          </div>
          <div class="d-flex justify-content-end align-items-end">
            <button type="button" [routerLink]="['update', league.id]" mat-button color="primary"
              class="btn-sm w-50 me-1">EDITAR</button>
            <button type="button"  mat-button color="accent"
              class="btn-sm w-50">CONFIGURAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row justify-content-end my-3">
    <div class="col-md-auto">
      <button class="text-uppercase width-responsive" mat-raised-button color="primary" routerLink="create">
        <mat-icon>add</mat-icon> Adicionar Liga
      </button>
    </div>
  </div>
  <div class="row" *ngIf="leagues.length > 0; else noLeagues">
    <div class="col-md-3" *ngFor="let league of leagues">
      <mat-card class="example-card mat-elevation-z4 px-3 mb-3" [ngClass]="['status-' + league.cod_status]">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"
            [style.background-image]=" 'url(' + baseUrl  + '/' + league?.img_logo +')'"></div>
          <mat-card-title>{{ league.name }}</mat-card-title>
          <mat-card-subtitle style="font-size: 12px;">
            <p class="text-reccos-1 m-0" style="font-size: 10px;">
              {{ league.location }}
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="example-flex-container">
              <button mat-icon-button aria-label="Facebook" color="primary">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button aria-label="Face" color="primary">
                <mat-icon>face</mat-icon>
              </button>
              <button mat-icon-button aria-label="group" color="primary">
                <mat-icon>group</mat-icon>
              </button>
              <button mat-icon-button aria-label="language" color="primary">
                <mat-icon>language</mat-icon>
              </button>
            </div>
          </div>
          <div class="row mt-3">
            <mat-list class="infos-league">
              <mat-list-item>
                <div class="d-flex w-100 justify-content-between">
                  <span> <strong>Sistema:</strong></span> <span>{{ league.league_mode }}</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div class="d-flex w-100 justify-content-between">
                  <span><strong>Modalidade:</strong></span> <span> {{ league.league_system }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div class="d-flex w-100 justify-content-between">
                  <span><strong>Início:</strong></span> <span> {{ league.dt_start | date: 'dd/MM/yyyy' }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div class="d-flex w-100 justify-content-between">
                  <span><strong>Fim:</strong></span> <span> {{ league.dt_end | date: 'dd/MM/yyyy' }} </span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <div class="d-flex justify-content-end align-items-end mt-3">
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['update', league.id]" color="primary">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>settings</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <ng-template #noLeagues>
    <div class="alert alert-warning mt-4" role="alert">
      <p class="m-0">O sistema ainda não possui ligas cadastradas!!</p>
    </div>
  </ng-template>
</div>