.profile-photo {
  width: 40px;
  height: 40px;
  background-color: #E6E6E6;
  border-radius: 50%;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::ng-deep .mat-mdc-table .mdc-data-table__row {
  height: 70px;
}

.card-box {
  padding: 20px 0;
  border-radius: 3px;
  background-color: #fff;
}

.social-links li a {
  border-radius: 50%;
  // color: rgba(121, 121, 121, .8);
  display: inline-block;
  height: 30px;
  line-height: 27px;
  // border: 2px solid rgba(121, 121, 121, .5);
  text-align: center;
  width: 30px
}

.social-links li a:hover {
  color: #797979;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b!important;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #98a6ad!important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}

.example-card {
  max-width: 400px;
  border-left: 3px solid #0A6821;
}

.example-header-image {
  background-size: cover;
}

.mat-mdc-card-avatar {
  border-radius: 0;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
}

.infos-league {
  span {
      font-size: 14px;
  }
}