<div class="container">
  <div class="row py-3 ps-3 justify-content-end my-3">
    <div class="col-md-6">
      <strong class="mb-3">Legendas:</strong>
      <div class="d-flex w-100" style="font-size: 13px;">
        <div class="code me-3 text-uppercase" *ngFor="let s of statusCode" [ngClass]="['code-' + s.id]">{{ s.name }}</div>
      </div>
    </div>
    <div class="col-md text-end">
      <button class="text-uppercase width-responsive" mat-raised-button color="primary" routerLink="create">
        <mat-icon>add</mat-icon> Adicionar Liga
      </button>
    </div>
  </div>
  <div class="row" *ngIf="leagues.length > 0; else noLeagues">
    <div class="col-md-3" *ngFor="let league of leagues">
      <mat-card class="p-3" [ngClass]="['status-' + league.cod_status]">
        <div class="d-flex justify-content-between">
          <div mat-card-avatar class="profile-photo"
            [style.background-image]=" 'url(' + baseUrl  + '/' + league?.img_logo +')'"></div>
          <div class="ms-3 flex-column">
            <ng-container>
              <mat-card-title class="text-end">{{ league.name }}</mat-card-title>
              <p class="text-end text-reccos-1 m-0" style="font-size: 10px;">
                {{ league.location }}
              </p>
            </ng-container>
            <ng-container>
              <button mat-icon-button color="warn">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button mat-icon-button color="primary" [routerLink]="[league.slug, league.id]">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button mat-icon-button [routerLink]="['update', league.id]" color="primary" [disabled]=" league.status == 'Emm preparação'">
                <mat-icon>mode_edit</mat-icon>
              </button>
            </ng-container>
          </div>
        </div>
        <div>
        </div>
      </mat-card>
    </div>
  </div>

  <ng-template #noLeagues>
    <div class="alert alert-warning mt-4" role="alert">
      <p class="m-0">O sistema ainda não possui ligas cadastradas!!</p>
    </div>
  </ng-template>
</div>