.nav-container {
  width: 99%;
  height: calc(100vh - 85px);
  margin: 10px;
  border: 1px solid #555;
  // background-color: orange;

  .nav-width {
    width: 250px;
    // background-color: yellow;
  }
}
