<form [formGroup]="reccosFormUser">
    <div class="row mt-3">
        <div class="col-12 col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex.: fulano@detal.com">
                <mat-error *ngIf="(r['email']?.touched || r['email']?.dirty) && r['email']?.errors?.['required']">Campo Obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Nome do representante</mat-label>
                <input matInput formControlName="name" placeholder="Ex.: Fulado de Tal">
                <mat-error *ngIf="(r['name']?.touched || r['name']?.dirty) && r['name']?.errors?.['required']">Campo Obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-4">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Apelido</mat-label>
                <input type="text" matInput formControlName="surname" placeholder="Ex.: (00) 12345-6789">
                <mat-error *ngIf="(r['surname']?.touched || r['surname']?.dirty) && r['surname']?.errors?.['required']">Campo Obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-4">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Data de nascimento</mat-label>
                <input matInput formControlName="birth_date" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="(r['birth_date']?.touched || r['birth_date']?.dirty) && r['birth_date']?.errors?.['required']">Campo Obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-4">
            <mat-form-field class="example-full-width w-100" appearance="outline" (change)="statusForm()">
                <mat-label>Telefone</mat-label>
                <input type="text" matInput formControlName="phone" placeholder="Ex.: (00) 12345-6789">
                <mat-error *ngIf="(r['phome']?.touched || r['phome']?.dirty) && r['phome']?.errors?.['required']">Campo Obrigatório</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>