.padding-box {
    padding: 1.5rem;
}

@media screen and (max-width: 992px) {
    .padding-box {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .padding-box {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 576px) {

    .padding-box {
        padding: 0rem;
    }

    .padding-form {
        padding: .5rem;
    }

    .mat-vertical-content-container {
        margin-left: 0px;
    }

    .width-responsive {
        width: 100%;
    }
}