<div class="row px-4 mx-md-0 mt-5 gap-4">
    <div class="col-md-3">
        <div class="card mat-elevation-z2">
            <div class="card-body my-3">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img [src]="baseUrl + file_upload_name" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name"> {{ reccosFormStadium.value.name == '' ? "Nome" :
                            reccosFormStadium.value.name }} </h5>
                        <h6 class="user-email mb-2"> {{ reccosFormStadium.value.name == '' ? "@Apelido" :
                            '@'+reccosFormStadium.value.surname }} </h6>
                    </div>
                    <div class="about my-3">
                        <button mat-stroked-button color="primary" (click)="openUpload()">Imagem perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card h-100 mat-elevation-z2 card-body px-5 mb-3">
            <p class="my-2 text-start text-reccos-3">
                * Campos obrigatórios
            </p>
            <mat-stepper linear #stepper [appHighlight]="250">
                <mat-step [completed]="reccosFormStadium.valid">
                    <ng-template matStepLabel>Dados da Liga</ng-template>
                    <ng-template matStepContent>
                        <div class="row g-2">
                            <form [formGroup]="reccosFormStadium" class="mt-3 row">
                                <div class="col-12">
                                    <mat-form-field class="example-full-width reccos-input w-100 form"
                                        appearance="outline">
                                        <mat-label>Nome completo</mat-label>
                                        <input matInput formControlName="name"
                                            placeholder="Ex.: Estádio Paulo Machado de Carvalho">
                                        <mat-error
                                            *ngIf="(r['name']?.touched || r['name']?.dirty) && r['name']?.errors?.['required']">Este
                                            campo é obrigatório!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md">
                                    <mat-form-field class="example-full-width reccos-input w-100" appearance="outline">
                                        <mat-label>Apelido</mat-label>
                                        <input matInput formControlName="surname" placeholder="Ex.: Pacaembu"
                                            (blur)="nextStep()">
                                        <mat-error
                                            *ngIf="(r['surname']?.touched || r['surname']?.dirty) && r['surname']?.errors?.['required']">Este
                                            campo é obrigatório!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md" *ngIf="validationForm">
                                    <mat-form-field appearance="outline" class="reccos-input w-100">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="status">
                                            <mat-option class="text-uppercase" *ngFor="let status of stadium_status"
                                                [value]="status.name">
                                                {{ status.name }} </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Concluir Cadastro</ng-template>
                    <div class="alert alert-primary d-flex align-items-center w-100 mt-3" role="alert"
                        style="font-size: 13px;">
                        <mat-icon class="me-3">info_outline</mat-icon>
                        <div>
                            <p class="m-0"> Etapa de preenchimento está completa!!</p>
                            <p class="m-0">Clique em <strong class="text-uppercase">concluir</strong> para finalizar a
                                operação!
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button mat-stroked-button class="me-2" color="warn" [routerLink]="['/stadium']">
                            <mat-icon>undo</mat-icon>
                            Voltar
                        </button>
                        <button mat-raised-button color="primary" [disabled]="reccosFormStadium.invalid"
                            (click)="createObjToAPI()">
                            <mat-icon>save</mat-icon>
                            Salvar
                        </button>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>