<div class="row px-4 mx-md-0 mt-5 gap-4">
    <div class="col-md-3">
        <div class="card mat-elevation-z2">
            <div class="card-body my-3">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img [src]="baseUrl + file_upload_name" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name"> {{ leagueForm.value.name == '' ? "Nome" : leagueForm.value.name }} </h5>
                        <h6 class="user-email mb-2"> {{ leagueForm.value.state }}/{{ leagueForm.value.city }} </h6>
                    </div>
                    <div class="about my-3">
                        <button mat-stroked-button color="primary" (click)="openUpload()">Imagem perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card h-100 mat-elevation-z2 card-body px-5 mb-3">
            <p class="my-2 text-start text-reccos-3">
                * Campos obrigatórios
            </p>
            <mat-stepper linear #stepper style="height: auto; overflow-y: auto;">
                <mat-step [completed]="leagueForm.valid">
                    <ng-template matStepLabel>Dados da Liga</ng-template>
                    <ng-template matStepContent>
                        <form [formGroup]="leagueForm">
                            <div class="row g-2 mt-1">
                                <mat-form-field class="example-full-width reccos-input w-100" appearance="outline">
                                    <mat-label>Nome completo</mat-label>
                                    <input formControlName="name" matInput placeholder="Ex.: Liga Master A" />
                                </mat-form-field>
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="reccos-input w-100">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="state" #state
                                            (selectionChange)="allCitysByState(state.value)">
                                            <mat-option *ngFor="let state of listStates; let idx = index"
                                                [value]="state.id"> {{
                                                state.nome }} </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                                    <mat-form-field class="example-full-width reccos-input w-100" appearance="outline">
                                        <mat-label>Cidade</mat-label>
                                        <input matInput aria-label="State" [matAutocomplete]="auto"
                                            formControlName="city" (blur)="nextStep()">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let state of filteredStates | async"
                                                [value]="state.nome">
                                                <span>{{state.nome}}</span>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-step>
                <mat-step [completed]="leagueConfig.valid">
                    <ng-template matStepLabel>Configuração</ng-template>
                    <ng-template matStepContent>
                        <form [formGroup]="leagueConfig">
                            <div class="row row-gap-2 mt-3">
                                <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                    <mat-form-field appearance="outline" class="reccos-input w-100">
                                        <mat-label>Data do início</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="dt_start" />
                                        <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                    <mat-form-field appearance="outline" class="reccos-input w-100">
                                        <mat-label>Data do fim</mat-label>
                                        <input matInput #dateStart [matDatepicker]="picker_one"
                                            formControlName="dt_end" />
                                        <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                                        <mat-datepicker-toggle matSuffix [for]="picker_one"></mat-datepicker-toggle>
                                        <mat-datepicker #picker_one></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                    <mat-form-field appearance="outline" class="reccos-input w-100">
                                        <mat-label>Modalidade</mat-label>
                                        <mat-select formControlName="league_mode">
                                            <mat-option *ngFor="let mode of league_mode" [value]="mode.name"> {{
                                                mode.name
                                                }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                    <mat-form-field appearance="outline" class="reccos-input w-100">
                                        <mat-label>Sistema de disputa</mat-label>
                                        <mat-select formControlName="league_system" #system
                                            (selectionChange)="enableDisableQtGroup(system.value)">
                                            <mat-option *ngFor="let system of league_system" [value]="system.name">
                                                {{ system.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-xl-4 col-lg-4 col-md-12">
                                    <mat-slide-toggle color="primary" formControlName="turn" class="mt-2">Jogos de ida e
                                        volta?</mat-slide-toggle>
                                </div>

                                <div class="col-12 col-xl-4 col-lg-4 col-md-12" *ngIf="!validationForm">

                                    <mat-form-field class="example-full-width reccos-input w-100" appearance="outline">
                                        <mat-label>Total de times</mat-label>
                                        <input matInput type="number" value="1" #numTeamsLeague
                                            (input)="numberOfTeamsLeague(numTeamsLeague.value)" min="0">
                                        <button matSuffix mat-icon-button aria-label="Clear" (click)="openInfo()"
                                            color="primary">
                                            <mat-icon>help_outline</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-xl-4 col-lg-4 col-md-12" *ngIf="!validationForm">
                                    <mat-form-field class="example-full-width reccos-input w-100" appearance="outline">
                                        <mat-label>Total de grupos</mat-label>
                                        <input matInput type="number" value="1" #numGroup [disabled]="hideShowInput"
                                            (input)="numberOfGroups(numGroup.value)" min="0">
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-xl-8 col-lg-8 col-md-12" *ngIf="validationForm">
                                    <mat-form-field appearance="outline" class="reccos-input w-100">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="status">
                                            <mat-option *ngFor="let status of league_status" [value]="status.name"> {{
                                                status.name }} </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col">
                                    <button mat-raised-button class="w-100" color="primary"
                                        matStepperNext>Avançar</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Concluir Cadastro</ng-template>
                    <div class="alert alert-primary d-flex align-items-center w-100 mt-3" role="alert"
                        style="font-size: 13px;">
                        <mat-icon class="me-3">info_outline</mat-icon>
                        <div>
                            <p class="m-0"> Etapa de preenchimento está completa!!</p>
                            <p class="m-0">Clique em <strong class="text-uppercase">concluir</strong> para finalizar a
                                operação!
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="me-2" mat-stroked-button color="warn" [routerLink]="['/league']"> Cancelar
                        </button>
                        <button mat-raised-button color="primary" [disabled]="leagueForm.invalid"
                            (click)="createObjToAPI()">Concluir</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>