<div class="container">
    <div class="row">
        <div class="col my-3">
            <h1 class="text-reccos-1"><strong>Dashboard</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <mat-card class="card-1 text-reccos-4">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Homework</h4>
                        <p>For today's lesson</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-2 text-reccos-3">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Homework</h4>
                        <p>For today's lesson</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-2 text-reccos-3">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Homework</h4>
                        <p>For today's lesson</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-3 text-reccos-4">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Reading</h4>
                        <p>250 words per week</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>