<div class="container">
    <div class="row">
        <div class="col my-3">
            <h1 class="text-reccos-1"><strong>Dashboard</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <mat-card class="card-1 text-reccos-4">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Homework</h4>
                        <p>For today's lesson</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-2 text-reccos-3">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Homework</h4>
                        <p>For today's lesson</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-2 text-reccos-3">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Homework</h4>
                        <p>For today's lesson</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-3 text-reccos-4">
                <mat-card-content class="d-flex flex-column">
                    <mat-icon class="mb-4">check_circle_outline</mat-icon>
                    <div>
                        <h4>Reading</h4>
                        <p>250 words per week</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- tables start -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                            <h2 class="ml-lg-2">Manage Employees</h2>
                        </div>
                        <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                                <i class="material-icons">&#xE147;</i>
                                <span>Add New Employees</span>
                            </a>
                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                <i class="material-icons">&#xE15C;</i>
                                <span>Delete</span>
                            </a>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                    </span>
                            </th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th><span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="option[]" value="1">
                                    <label for="checkbox1"></label></span></th>
                            <th>Thomas Hardy</th>
                            <th>ThomasHardy@gmail.com</th>
                            <th>90r parkdground poland Usa.</th>
                            <th>(78-582552-9)</th>
                            <th>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                            </th>
                        </tr>

                        <tr>
                            <th><span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox2" name="option[]" value="1">
                                    <label for="checkbox2"></label></span></th>
                            <th>Dominique Perrier</th>
                            <th>dominiquePerrier@gmail.com</th>
                            <th>90r ser57, Berlin poland Bermany.</th>
                            <th>(78-5235-2-9)</th>
                            <th>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                            </th>
                        </tr>


                        <tr>
                            <th><span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox3" name="option[]" value="1">
                                    <label for="checkbox3"></label></span></th>
                            <th>Marai Andres</th>
                            <th>MarariAndres@gmail.com</th>
                            <th>90r ser57, Berlin poland Bermany.</th>
                            <th>(78-239-669)</th>
                            <th>
                                <a href="#edit" class="edit" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                            </th>
                        </tr>

                        <tr>
                            <th><span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox4" name="option[]" value="1">
                                    <label for="checkbox4"></label></span></th>
                            <th>Vishweb Design</th>
                            <th>vishwebdesign@gmail.com</th>
                            <th> B-2 ser57 Nodia East Delhi,India.</th>
                            <th>(78-239-669)</th>
                            <th>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                            </th>
                        </tr>

                        <tr>
                            <th><span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox5" name="option[]" value="1">
                                    <label for="checkbox5"></label></span></th>
                            <th>Vishwajeet Kumar</th>
                            <th>vishkumar234@gmail.com</th>
                            <th> B-2 ser57 Nodia East Delhi,India.</th>
                            <th>(78-555-229)</th>
                            <th>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                            </th>
                        </tr>
                    </tbody>
                </table>

                <div class="clearfix">
                    <div class="hint-text">showing <b>5</b> out of <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item "><a href="#" class="page-link">1</a></li>
                        <li class="page-item "><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item "><a href="#" class="page-link">4</a></li>
                        <li class="page-item "><a href="#" class="page-link">5</a></li>
                        <li class="page-item "><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
