<div class="col-md-12 box-upload">
    <div
        class="icon-box file-input mt-3 d-flex flex-column justify-content-start align-items-center">
        <input type="file" class="file-upload"(change)="uploadEvent($event, 'random_regions')"
        [accept]="'.geojson'">
        <mat-icon class="d-flex justify-content-center align-items-center">
            upload_file
        </mat-icon>
        <div class="name-file ft-size-11">
            {{ file_name }}
        </div>
    </div>
    <mat-progress-bar *ngIf="" mode="determinate" [value]=""></mat-progress-bar>
</div>