.responsive-box {
    width: 75%;
}

@media screen and (max-width: 992px) {
    .responsive-box {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .responsive-box {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .responsive-box {
        width: 100%;
    }
}