.snack-error {
    --mdc-snackbar-container-color: #DC4C64;
    --mat-mdc-snack-bar-button-color: #DC4C64;
    --mat-snack-bar-button-color: #FFF;
    --mdc-snackbar-supporting-text-color: #FFF;
}

.snack-success {
    --mdc-snackbar-container-color: #14A44D;
    --mat-mdc-snack-bar-button-color: #14A44D;
    --mat-snack-bar-button-color: #FFF;
    --mdc-snackbar-supporting-text-color: #FFF;
}

.snack-info {
    --mdc-snackbar-container-color: #9FA6B2;
    --mat-mdc-snack-bar-button-color: #9FA6B2;
    --mat-snack-bar-button-color: #FFF;
    --mdc-snackbar-supporting-text-color: #FFF;
}